body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, p {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black ;
}

th, td {
    padding: 10px;
}

/* ------------------------------------Content-------------------------------------- */

p#bio {
    border: 2px rgb(222, 210, 188) solid;
    border-radius: 25px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    margin: 0 15%;
    width: 70%;
    height: 70%;
}